<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"><title>Quiz</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h2>Lola Talavera del Pozo</h2>

    <form method="get" action="/quizes/author">
    <img src="http://www.comunidadumbria.com/imgs/fotos/3488.jpg" width="172" height="125">
    </form>
  </body>
</html>
